<!-- <div class=" container-fluid col-md mx-auto">
    <h3>GST</h3>
</div> -->
<div class="container">
<div class="container-fluid mx-auto">
    <div class="row">
            <div class="md-form md-outline form-lg">
                    <input id="form-lg" class="form-control form-control-lg" type="text" mdbInput>
                    <label for="form-lg">First Name</label>
                  </div>&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="md-form md-outline form-lg">
                        <input id="form-lg" class="form-control form-control-lg" type="text" mdbInput>
                        <label for="form-lg">Last Name</label>
                      </div>
 
</div>

<div class="row">
        <div class="md-form md-outline form-lg">
                <input id="form-lg" class="form-control form-control-lg" type="text" mdbInput>
                <label for="form-lg">Email-id</label>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="md-form md-outline form-lg">
                    <input id="form-lg" class="form-control form-control-lg" type="text" mdbInput>
                    <label for="form-lg">Mobile Number</label>
                  </div>

</div>
<div class="row">
        <div class="md-form md-outline form-lg">
                <input id="form-lg" class="form-control form-control-lg" type="text" mdbInput>
                <label for="form-lg">GSTIN</label>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;

              <button mdbBtn type="submit" color="primary" mdbWavesEffect>Register</button>
</div>
</div>
</div>
<div class="md-form">
  <input type="number" id="numberExample" class="form-control">
  <label for="numberExample">Example label</label>
</div>